{{#*inline "content"}}
<script src="/static/index.js"></script>
<div id="users-div">
    <h1>Who are you?</h1>
    <div id="user-inputs">
        {{#each users}}
        <input type="button" value="{{name}}" data-js-select-user="{{id}}"/>
        {{/each}}
    </div>
</div>
{{/inline}}
{{> base}}
