{{#*inline "content"}}
<div id="users-div">
    <h1>Who are you?</h1>
    <div id="user-inputs">
        {{#each users}}
        <input type="button" value="{{name}}" onclick="goToChart({{id}})" />
        {{/each}}
    </div>
</div>
<script>
    function goToChart(id) {
        const startDate = getDefaultStartDate();
        const endDate = getDefaultEndDate();

        window.location.href = "/chart/" + id + "?start-date=" + startDate.toISOString() + "&end-date=" + endDate.toISOString();
    }

    function getDefaultStartDate() {
        let startDate = new Date();
        startDate.setDate(startDate.getDate() - 30);
        startDate.setHours(0, 0, 0, 0);

        return startDate;
    }

    function getDefaultEndDate() {
        let endDate = new Date();
        endDate.setHours(23, 59, 59, 999);

        return endDate;
    }
</script>
{{/inline}}
{{> base}}
