{{#*inline "content"}}
<div id="users-div">
    <h1>Who are you?</h1>
    <div id="user-inputs">
        {{#each users}}
        <input type="button" value="{{name}}" onclick="goToChart({{id}})" />
        {{/each}}
    </div>
</div>
<script>
    function goToChart(id) {
        window.location.href = "/chart/" + id;
    }
</script>
{{/inline}}
{{> base}}
